body {
  margin: 0;
}

.Body {
  background-image: url("record.png");
}

header {
  background-color: #B9317C; //Keeping this here so both lines have the same background color
}

.header_txt {
  text-align: center;
  color: #DAC8BC;
}

main {
  background-color: #D1D1D1; //Keeping this here so all text in main has the background color
}

.main_txt {
  padding: 1em;
}

ul {
  background-color: #EFFFFA;
}
