header {
  text-align: center;
  background-color: #8A4FFF;
  color: #C3BEF7;
}

main {
  padding: 1em;
  background-color: #E5ECF4;
}

body {
  background-image: url("record.png");
  margin: 0;
}

ul {
  background-color: #EFFFFA;
}

/*
__STRETCH GOAL:__ Use CSS style classes vs element names to do your styling, except for adding the margin to the `body`.
 That is a good thing to add to every CSS file, and it should use the `body` HTML tag name.
